<div class="rounded text-body-emphasis col-md-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h4>{{ post.meta.title }}</h4>
            <p>
                {{ post.lead_in() }}
            </p>
            <p>
                <a href="{{ post.url()}}" class="text-body-emphasis stretched-link">Continue reading...</a>
            </p>
        </div>
        <div class="col-md-6 h-md-250">
            {% set url = post.strava_image_url() %} {% if url %} <img class="img-fluid" style="margin-top: -4em" height="400" src="{{ url }}"> {% endif %}
        </div>
    </div>
</div>