---
layout: default
---
{% for post in site.posts limit:1 %}
<div class="meta">{{ post.date | | date: "%b %d, %Y"  }}</div>
<h2><a href="{{ post.url }}" class="posturl">{{ post.title }}</a></h2>
<hr class="florished">
{{ post.content  | replace:'acronym','abbr' }}
{% endfor %}
<div id="navigation">
  {% if paginator.next_page %}<a href="/page{{paginator.next_page}}/">&laquo; older</a>{% endif %}
  {% if paginator.previous_page %}{% if paginator.previous_page == 1 %}<a href="/">{% else %}<a href="/page{{paginator.previous_page}}/">{% endif %}newer &raquo;</a></div>{% endif %}
</div>
