/* This is some seriously hacky CSS, and I don't mean that in a good way. Don't mock me too badly. */

body {
	background: #eee;
	font-family: Optima, Tahoma, Arial, sans-serif;
	padding: 0px;
	margin: 0px;
}

#left {
   postition: absolute;
   top: 2em;
   left: 1em;
}

ul.list {
}

#middle {
}


p {
	font-size: 1.0em;
	line-height: 1.5em;
	}
a {
text-decoration: none;
}


form {
    margin-left: 2em;
}

label {
    display: block;
    font-size: 80%;
}

dl dt {
    font-weight: bold;
}

#topbar h1 {
    font-size: 1.25em;
	font-weight: normal;
	color: #ccc;
	padding: 5px;
	margin-left: 10px;
	background: none;
}

#topbar {
	background: #444;
	color: #ddd;
	width: 100%;
}

#topbar h1 a {
    color: white;
}

#middle h2 a:hover {
    color: blue;
}


td.linenos { 
    padding: 0 5px; 
    color: #999; 
    background: #eee;
    border-right: 1px solid #ccc; 
    }

.linenos .special { 
    font-weight: bold; color: #444;
    }

td.code {
    padding: 0 10px;
    }

div.formHelp {
    display: none;
}

#breadcrumbs {
    padding-left: 2em;
}

#breadcrumbs a {
    border-bottom: none;
    text-transform: lowercase;
}

