---
layout: default
---
<div class="meta">{{ page.date | date: "%b %d, %Y"  }}</div>
<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
<div id="thenavigation">
  <p>Trips 2022 👉 <a href="/tags/gear/">Gear</a> &bull; <a href="/tags/trips/">Trips</a></p>
</div>
<hr class="florished">
{{ content  | replace:'acronym','abbr' }}
<div id="navigation">
  {% if page.previous %}<a href="{{ page.previous.url }}">&laquo; older</a>{% endif %}
  {% if page.next %}<a href="{{ page.next.url }}">newer &raquo;</a>{% endif %}
</div>
